section.logo
  a(href='/')
    img(src='/images/bellota-logo.png')
  p=subtitle

section.interview
  div.column1
    
     h1#{__('How did the idea for an entrepreneurial valley originate?')}
     

     p#{__('In Extremadura Spain')}
         a(href='http://2011.theevnt.com/') theEvnt
 
     p#{__('We found a spot')} 


     img(src='images/bellota-map.png')
    
    
     h1#{__('Origin of your name')}
     

     p#{__('Bellota is translated to')}
     p#{__('Bellota Valley comprises the intention')}
    
    
    
     h1#{__('Your philosophy?')}
      

     p#{__('We are serious')} 

     p#{__('We came with the idea')} 

     p#{__('We welcome anyone')} 

     p#{__('We are enthusiastic')}

     div.figure
      img(src='/images/bellota-registering.jpg')
      p#{__('Registering in Merida for our first networking event')}

  div.column2
    
      h1#{__('How long have you been working together?')}
     

      p#{__('We organized a LinkedIn')} 

          a(href='http://www.linkedin.com/groups/Bellota-Valley-3956944') LinkedIn Bellota Valley 
 
      h1#{__('What type of activities do you do?')} 
      

      p#{__('We are starting and so far')}  

      p#{__('We created these events to get face to face')}

      p#{__('Our idea is to welcome everyone')}

      p#{__('We want to reach out')} 
      
      div.figure
      img(src='/images/bellota-networking.jpg')
      p#{__('A big group came out for our first networking event')}
      
    
      h1#{__('Do you have sponsors?')}
      

      p#{__('If we understand sponsor')} 

      p#{__('Sponsorship')} 
 
      h1#{__('How do you see the future of the valley?')}      


      p#{__('We are just a baby in diapers')}

      p#{__('We want to be self-organizing')} 

      p#{__('We are people that want to work')} 
