section.logo
  a(href='/')
    img(src='/images/cachirulo-logo.png')
  p=subtitle

section.interview
  div.column1
    
    h1#{__('How did the idea for an entrepreneurial valley originate?')}
      
    p#{__('In recent years')}

    p#{__('We are very interested in')} 

    p#{__('A way for us')}

    h1#{__('Origin of your name')}
      
    p#{__('One day')}
      a(href=' http://sixservix.com/blog/david/2010/12/01/boconf-zaragoza-2010/') BoConf

    p#{__('Bonilla gave us')}  
      a(href='http://es.wikipedia.org/wiki/Cachirulo') Cachirulo

    p#{__('The name amused us')}

      
    div.figure
      img(src='/images/cachirulo-android.jpg')
      p#{__('Our recent Android Workshop')}

    
    h1#{__('Your philosophy?')}
      
    p#{__('We are the first ones')} 

    p#{__('We want people to have a more global vision')} 
    p#{__('We want to promote')} 

    h1#{__('How long have you been working together?')}
    
    p#{__('Between January and')} 

  div.column2

    div.figure
      img(src='/images/cachirulo-ux.jpg')
      p#{__('During a recent UX workshop')}

    
    h1#{__('What type of activities do you do?')}
      
    p#{__('We have organized a couple')} 

    p#{__('Dummy Day')}

    p#{__('In general')}

    h1#{__('Do you have sponsors?')}
      
    p#{__('Independent people')} 

    p#{__('But sometimes')} 

    h1#{__('How do you see the future of the valley?')}
      
    p#{__('We believe that we have reached')} 

    p#{__('We will continue to grow our community')} 

    p#{__('New people are volunteering to give a talk')}

    p#{__('So our future is promising')}
