section.logo
  a(href='/')
    img(src='/images/cylicon-valley-logo.jpg')
  p=subtitle

section.interview
  div.column1
    h1#{__('We are Cylicon Valley!')}
    div.members
      div.member
        a(href='http://twitter.com/semurat')
          img(src='/images/semurat.png')
          p Jorge
      div.member
        a(href='http://twitter.com/aloaisa') 
          img(src='/images/aloaisa.png')
          p Alvaro
      div.member
        a(href='http://twitter.com/flopezluis')
          img(src='/images/flopezluis.png')
          p Felix
      div.member
        a(href='http://twitter.com/javisantana')
          img(src='/images/javisantana.png')
          p Javi
      div.member
        a(href='http://twitter.com/amaliahern')
          img(src='/images/amaliahern.png')
          p Amalia

    h1#{__('How did the idea for an entrepreneurial valley originate?')}

    p#{__('The original idea')}  
       a(href='http://agilecyl.org/') AgileCyL
         
    p#{__('We noticed')}  
    p#{__('We knew')} 


    
    h1#{__('Origin of your name')}
      
        
    p#{__('Funny story')}
       a(href='http://alltogether.es/portada') All together now
    p#{__('48 hours')}  
    p#{__('After the event')}

    img(src='images/cylicon-map.png')

    
    h1#{__('Your philosophy?')}
    
    p#{__('We want')}
    p#{__('We want to share')}  
    p#{__('University, IT, everybody is welcomed')}
    
    h1#{__('How long have you been working together?')}
    
    p#{__('We started not long ago, we are still babies')}
    p#{__('We have just a landing page and a twitter account. Every day we build a little bit more')}


  div.column2
    
    h1#{__('What type of activities do you do?')} 
      
    p#{__('Organize talks')}
    p#{__('We are looking to improve in the development of the new technologies in Castilla y Leon')}
    p#{__('We would like to collaborate with the R&D department of the University')}
    p#{__('We would like help the creation of jobs in our region')} 
    p#{__('Nowadays many very good local professionals of Castilla y Leon are working in other regions of Spain which is a pity')}

    div.figure
      img(src='/images/cylicon-clojure-class.png')
      p#{__('A recent class on Functional Languages')}

    h1#{__('Do you have sponsors?')}

    p#{__('If you are talking about sponsorship the answer is no')}

    p#{__('Many people are helping us')} 
    p#{__('We can use the rooms')}
      a(href='http://twitter.com/ditelnet') Fernando Burgos
    p#{__('There are other people')}   
      a(href='http://twitter.com/Jezis') Jezis, 
      a(href='http://twitter.com/manuelvl') Manuel, 
      a(href='http://twitter.com/execyl') Pencho
    p#{__('And of course all people from')}
      a(href='http://agilecyl.org') AgileCyl 
    
    
    h1#{__('How do you see the future of the valley?')}
   
    p#{__('I see a bright and great future for us. Like all new ventures we are thrilled and have a lot energy to move this project forward')} 
    
    p#{__('Quite simple')} 
    p#{__('With the group')} 
      
    p#{__('Visit us')} 

      a(href='http://www.cyliconvalley.es/') Cylicon Valley

